*.class
bin/
*.iml
*.idea
*local.properties
.DS_Store
**/out/
**/gen/
examples/.DS_Store
examples/anx_sdk_app/gen/
examples/libs/pulltorefresh/gen/
mediation/.DS_Store
mediation/mediatedviews/.DS_Store
mediation/mediatedviews/doc/
mediation/mediatedviews/gen/
mediation/mediating/.DS_Store
sdk/.DS_Store
sdk/doc/
sdk/gen/

