*.class
bin/
.gradle

**/.idea
**/out/
**/tmpout/
**/gen/
**/doc
**/build
**/local.properties
**/*.iml
**/.DS_Store
**/target/
tests/gradle**
**.properties
!gradle.properties
!gradle-wrapper.properties
*/projectFilesBackup
**/*.log
