<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appnexus.opensdk">

    <uses-sdk android:minSdkVersion="14"
        android:targetSdkVersion="18"/>

    <application android:name="com.appnexus.opensdk.OpenSDKUnitTestsApplication">

        <activity android:name="com.appnexus.opensdk.OpenSDKUnitTestsActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
