<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appnexus.opensdk.mediatedviews">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application>
        <activity android:name="com.rfm.sdk.HTMLBrowserView"
            android:configChanges="orientation"></activity>
        com.rfm.sdk.MraidVideoPlayerActivity: required for RFM SDK to serve videos in native player
        <activity android:name="com.rfm.sdk.MraidVideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
    </application>
</manifest>
